# Ignore IntellIJ files. Based on: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# General Intellij configuration directory
.idea/
# File-based project format
*.iws
# Out directory
out/
# Auto-import
*.iml

# Ignore Maven files. Nased on: https://github.com/github/gitignore/blob/master/Maven.gitignore
# Exclude target directory
target/
# maven metadata
.mvn/

# Ignore Linux files. Based on: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
# KDE directory preferences
.directory
# Linux trash folder which might appear on any partition or disk
.Trash-*
# .nfs files are created when an open file is removed but is still being accessed
.nfs*